<!DOCTYPE html>
<head>
    <title>Location</title>
<body>

<div class = "location">
    <h1 class="location-timezone"></h1>
</div>
<div class = "temperature">
    <h2 class="degree"></h2>
    <span class="temp-type">°F</span>
</div>
<div class = "humidd">
    <h3 class = "humid"></h3>
    <span class="percent">%</span>
</div>

<script type="text/javascript">
    window.addEventListener('load', () => {
    let long;
    let lat;
    let tempdegree = document.querySelector(".degree");
    let locationtime = document.querySelector(".location-timezone");
    let humidpercent = document.querySelector(".humid");

    if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
            long = position.coords.longitude;
            lat = position.coords.latitude;

            const proxy = 'https://cors-anywhere.herokuapp.com/';
            const api = proxy+'https://api.darksky.net/forecast/e7d8d22d4d7468930b5ffc9d4cb56a9e/'+lat+','+long;

            fetch(api)
                .then(response => {
                    return response.json();
            })
                .then(data => {
                    console.log(data);
                    const {temperature} = data.currently;
                    tempdegree.textContent = temperature;
                    locationtime.textContent = data.timezone;
                    let hum2per = data.currently.humidity * 100;
                    humidpercent.textContent = hum2per;


            });
        });
    };
});
</script>
</body>
</head>
</html>
