<!doctype html>
<html>
<head>
  <title>Group S47</title>


<meta name="google-signin-client_id" content="290222337069-bu7nk4bu89fs0gqs6vr1jebnqp6aas59.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer>

gapi.load('auth2', function() {
	gapi.auth2.init();
});
</script>
</head>
<body>

<h1>Weather Fun!</h1>


<div id="signin" class="g-signin2" data-onsuccess="signIn"></div>
<button type = "button" id ="signout" href="#" onclick="signOut();'width': 50, 'height': 50">Sign out</button>

<script>
  function signOut() { //log out user and turn off graph
    var auth = gapi.auth2.getAuthInstance();
    auth.signOut().then(function () {
      console.log('Signed out!');
    });

  }
</script>

<script> // This script is to display the graph of temperature and humidity
function signIn(){ 
	var chart = new CanvasJS.Chart("tempgraph", {
	animationEnabled: true,
	theme: "light2", // theme of the graph
	title:{
		text: "Temperature and Humidity Graph" // Title of the graph
	},
    toolTip: { // Create a little box when the point on the graph has been touch
	    shared: true,
        content: "<strong>Temperature:</strong> {y[0]} °F </br><strong>Humidity:</strong> {x[0]} %"
    },
    axisY: { // formatting y-axis
	    title: "Temperature",
        suffix: "°F"
    },
    axisX: { // formatting x-axis
	    suffix: "%",
        title: "Humidity"
    },
	data: [ // input data to plot the graph -> need to git data from else where
      {
        type: "scatter",
        dataPoints: [
        { x: 1, y: 80 },
        { x: 2, y: 96},
        { x: 3, y: 70 },
        { x: 4, y: 80 },
        { x: 5, y: 80 }
        ]
      }
    ]

	});
	chart.render();
	}

function onFailure(error) {
    console.log(error);
}
</script>
<script>
    function renderButton() {
        gapi.signin2.render('signin', {
            'width' : 50,
            'height': 50,
            'onfailure' : onFailure
        })
    }
</script>

<div id="tempgraph" style="height: 300px; width: 50%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


<p>Check your location.</p>

<button onclick="Location()">Search</button>
<p id="demo"></p>
<p>Date/Time: <span id="datetime"></span></p>

<script> // This script is to display real time on the page
var dt = new Date();
document.getElementById("datetime").innerHTML = ( (("0"+(dt.getMonth()+1)).slice(-2))+"."+ ("0"+dt.getDate()).slice(-2)) +"."+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
</script>
<script> // This script is to get the device location and display on the page => I will try my best to convert to map images
var x = document.getElementById("demo");

function Location() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
}

</script>


</body>
</html>
