<!doctype html>
<html>
<head>
  <title>AH</title>


<meta name="google-signin-client_id" content="290222337069-bu7nk4bu89fs0gqs6vr1jebnqp6aas59.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer>

gapi.load('auth2', function() {
	gapi.auth2.init();
});
</script>
</head>
<body>

<h1>Trying Desperately</h1>

<div id="signin" class="g-signin2" ></div>
<button type="button" id="signout" onclick="signOut(); 'width': 50, 'height': 50">Sign out</button>
<script>
  function signOut() {
    var auth = gapi.auth2.getAuthInstance();
    auth.signOut().then(function () {
      console.log('Signed out!');
    });
  }
</script>
<script>
function signIn(googleUser) { //upon sign on -> want to actually do the graphs and stuff
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
function onFailure(error) {
    console.log(error);
}
</script>
<script>
    function renderButton() {
        gapi.signin2.render('signin', {
            'width' : 50,
            'height': 50,
            'onfailure' : onFailure
        })
    }
</script>

</body>
</html>
