<!doctype html>
<html>
<head>

    <title>Group S47</title>
    <meta name="google-signin-client_id" content="290222337069-bu7nk4bu89fs0gqs6vr1jebnqp6aas59.apps.googleusercontent.com">

    <!-- This script is about google account single sign in -->
    <script src="https://apis.google.com/js/platform.js" async defer>
        gapi.load('auth2', function() {
	        gapi.auth2.init();
        });
        </script>
</head>
<body>
    <!-- Displaying on the main page -->
    <h1>Weather Fun!</h1>
    <p id="weather"></p>
    <div id="signin" class="g-signin2" data-onsuccess="signIn"></div>
    <a id ="signout" href="#" onclick="signOut();">Sign out</a>

    <!--This script is used for logging out the user-->
    <script>
        function signOut() { //log out user and turn off graph
            var auth = gapi.auth2.getAuthInstance();
            auth.signOut().then(function () {
 	            window.location.reload();
        //  console.log('Signed out!');
        });
        }
    </script>

<script>
    function renderButton() {
        gapi.signin2.render('signin', {
            'width' : 50,
            'height': 50,
            'onfailure' : onFailure
        })
    }
</script>

<script> // This script is to display the graph of temperature and humidity

function signIn(){ 
	var t = {{temp| tojson|safe}};

//	window.onload = function () {


	var chart = new CanvasJS.Chart("tempgraph", {
	animationEnabled: true,
	theme: "light2", // theme of the graph
	title:{
		text: "Temperature and Humidity Graph" // Title of the graph
	},
    toolTip: { // Create a little box when the point on the graph has been touch
	    shared: true,
        content: "<strong>Temperature:</strong> {y[0]} °F </br><strong>Humidity:</strong> {x[0]} %"
    },
    axisY: { // formatting y-axis
	    title: "Temperature",
        suffix: "°F"
    },
    axisX: { // formatting x-axis
	    suffix: "%",
        title: "Humidity"
    },
	data: [ // input data to plot the graph -> need to git data from else where
      {
        type: "scatter",
        dataPoints: [
        { x: Math.random(), y: t[0] },
        { x: Math.random(), y: t[1] },
        { x: Math.random(), y: t[2] },
        { x: Math.random(), y: t[3] },
        { x: Math.random(), y: t[5] },
        { x: Math.random(), y: t[6] },
        { x: Math.random(), y: t[7] },       
        { x: Math.random(), y: t[8] },
        { x: Math.random(), y: t[9] },
        { x: Math.random(), y: t[10] },
        { x: Math.random(), y: t[11] },
        { x: Math.random(), y: t[12] },
        { x: Math.random(), y: t[13] },
        { x: Math.random(), y: t[14] },
        { x: Math.random(), y: t[15] }
        ]
      }
    ]

	});
	chart.render();
//}
}


function onFailure(error) {
    console.log(error);
}
</script>

    <div id="tempgraph" style="height: 300px; width: 50%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <!-- This <div> is to display the timezone, temperature, and humidity on web page-->
    <div class = "location">
        <h1 class="location-timezone"></h1>
    </div>
    <div class = "temperature">
        <h2 class="degree"></h2>
        <span class="temp-type">°F</span>
    </div>
    <div class = "humidd">
        <h3 class = "humid"></h3>
        <span class="percent">%</span>
    </div>

    <!-- This script is to get the data from Dark Sky Api as well as the device's location -->
    <script type="text/javascript">
        window.addEventListener('load', () => {
        let long;
        let lat;
        let tempdegree = document.querySelector(".degree");
        let locationtime = document.querySelector(".location-timezone");
        let humidpercent = document.querySelector(".humid");

        if(navigator.geolocation) { // Find the longitude and latitude of the device
            navigator.geolocation.getCurrentPosition(position => {
                long = position.coords.longitude;
                lat = position.coords.latitude;

                const proxy = 'https://cors-anywhere.herokuapp.com/';
                const api = proxy+'https://api.darksky.net/forecast/e7d8d22d4d7468930b5ffc9d4cb56a9e/'+lat+','+long; // Dark Sky API

                fetch(api)
                    .then(response => {
                        return response.json(); // Fetch the Dark Sky API and display json data
                })
                    .then(data => {
                        console.log(data);
                        const {temperature} = data.currently; // Get "temperature information from data
                        tempdegree.textContent = temperature; // Input the temperature from data to html
                        locationtime.textContent = data.timezone; // Get timezone info from data and send to html
                        let hum2per = data.currently.humidity * 100; // Function to transform the decimal points to percentage of the humidity
                        humidpercent.textContent = hum2per; // Get converted humidity data and sned to html
                    });
                });
            }
        });
    </script>

</body>
</html>
