<!DOCTYPE HTML>
<html>
<head>

<p id="demo"></p>

<u2 class="temp">
    {% for t in temp %}
        temp is <b>{{t}}</b>
    {% endfor %}
</u2>

<p> testing passing data</p>

<script>

var x = document.getElementById("demo");


var t = {{temp| tojson|safe}};
//for (var i = t.length - 1; i >= 0; i--) {
//	x.innerHTML = "The temp is" + t[i] + "and the random number is " + Math.random();
//}
x.innerHTML = "first" + t[0] +  "second" + t[1] + "3rd" + t[2] + "4th" + t[3];


	window.onload = function () {

	var allTemp = {{temp|tojson|safe}};

	var chart = new CanvasJS.Chart("tempgraph", {
	animationEnabled: true,
	theme: "light2", // theme of the graph
	title:{
		text: "Temperature and Humidity Graph" // Title of the graph
	},
    toolTip: { // Create a little box when the point on the graph has been touch
	    shared: true,
        content: "<strong>Temperature:</strong> {y[0]} °F </br><strong>Humidity:</strong> {x[0]} %"
    },
    axisY: { // formatting y-axis
	    title: "Temperature",
        suffix: "°F"
    },
    axisX: { // formatting x-axis
	    suffix: "%",
        title: "Humidity"
    },
	data: [ // input data to plot the graph -> need to git data from else where
      {
        type: "scatter",
        dataPoints: [
        { x: 1, y: t[0] },
        { x: 2, y: t[1] },
        { x: 3, y: t[2] },
        { x: 4, y: t[3] },
        { x: 5, y: t[4] }
        ]
      }
    ]

	});
	chart.render();
//}
}



</script>
</head>
<body>
<div id="tempgraph" style="height: 300px; width: 50%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>