<!DOCTYPE HTML>
<html>
<head>
<p id="demo"></p>

<u2 class="temp">
    {% for t in temp %}
        temp is <b>{{t}}</b>
    {% endfor %}
</u2>

<p> temp1</p>

<script>

//    var hum = document.getElementByName('hum1');
  //  var temp = document.getElementByName('temp');

window.onload = function () {

    var x = document.getElementById("demo");
   // var a = {{hum1}};
   // x.innerHTML(a);
    var allData = {{temp|tojson}};
//    x.innerHTML(allData[0]);
//    var humReal = {{humidity|json}};

    //x.innerHTML = "hum is " + hum + "does this work " + temp; 

    var chart = new CanvasJS.Chart("tempgraph", {
	animationEnabled: true,
	theme: "light2", // theme of the graph
	title:{
		text: "Temperature and Humidity Graph" // Title of the grpah
	},
    toolTip: { // Create a little box when the point on the graph has been touch
	    shared: true,
        content: "<strong>Temperature:</strong> {y[0]} °F </br><strong>Humidity:</strong> {x[0]} %"
    },
    axisY: { // formatting y-axis
	    title: "Temperature",
        suffix: "°F"
    },
    axisX: { // formatting x-axis
	    suffix: "%",
        title: "Humidity"
    },
	data: [ // input data to plot the graph -> need to git data from else where
      {
        type: "scatter",
        dataPoints:[
        { x: Math.random(), y: allData[0] },
        { x: 2, y: 55},
        { x: 3, y: 66 },
        { x: 4, y: 42 },
        { x: 5, y: 80 }
        ]
      }
    ]

});
chart.render();

}

</script>
</head>
<body>
<div id="tempgraph" style="height: 300px; width: 50%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>