<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("tempgraph", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Temperature and Humidity Graph"
	},
    axisY: {
	    title: "Temperature",
        suffix: "°C"
    },
    axisX: {
	    suffix: "%",
        title: "Humidity"
    },
	data: [
      {
        type: "spline",
        dataPoints: [
        { x: 1, y: 80 },
        { x: 2, y: 96},
        { x: 3, y: 70 },
        { x: 4, y: 80 },
        { x: 5, y: 80 }
        ]
      }
    ]

});
chart.render();

}
</script>
</head>
<body>
<div id="tempgraph" style="height: 300px; width: 50%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>